.productCard {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 6px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.description {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.4;
  flex-grow: 1; /* Занимает оставшееся пространство */
  margin-bottom: 6px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c5aa0;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: transform 0.2s;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.likeButton:hover {
  transform: scale(1.2);
}

.likeButton:focus {
  outline: none;
}

.likeButton.active {
  filter: grayscale(0%);
}